<div th:fragment="header">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">My website</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="index.html"><i
							class="fa fa-fw fa-home"></i> Category</a></li>
					<li class="nav-item"><a class="nav-link" href="index.html"
						onclick=""><i class="fa fa-fw fa-search"></i> Search</a></li>
					<li class="nav-item"><a class="nav-link" href="#"><i
							class="fa fa-fw fa-envelope"></i> Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="#" onclick=""><i
							class="fa fa-fw fa-user"></i> Login</a></li>
					<li class="nav-item"><a class="nav-link" href="#" onclick=""><i
							class="fa fa-shopping-cart"></i> Cart</a></li>
				</ul>
			</div>
		</div>
	</nav>

</div>
