<div th:fragment="list_product">
	<div class="col-xl-12 col-lg-12">
		<div class="row">
			<!--  -->
			<c:forEach items="${listDanhMuc }" var="dm">
				<div class="title-modules">
					<h2 class="title_h2">
						<a href="#">${dm.tenDanhMuc }</a>
					</h2>
				</div>
				<c:forEach items="${listSanPham }" var="sp">
					<c:if test="${dm.maDanhMuc == sp.danhMuc.maDanhMuc  }">
						<div class="col-xl-4 clo-lg-4" style="text-align: center;">
							<form action="MuaHang" method="POST">
								<img src="${sp.urlHinh}" class="img-responsive"
									style="width: 100%">
								<p class="text-danger">${sp.tenSanPham }</p>
								<p class="text-info">${sp.donGia }</p>
								<p>
									<input type="hidden" name="maSanPham" value="${sp.maSanPham}">
									<input type="hidden" name="tenSanPham" value="${sp.tenSanPham}">
									<input type="hidden" name="urlHinh" value="${sp.urlHinh}">
									<input type="hidden" name="donGia" value="${sp.donGia}">
									<input type="hidden" name="soLuong" value="1"> <input
										type="hidden" name="action" value="add">

								</p>
								<p>
									<a href="<c:url value="
										/xemthongtinsanpham?maSanPham=${sp.maSanPham} "/>"><input
										type="button" class="btn btn-primary" value="Xem hàng" /></a> <input
										type="submit" class="btn btn-primary" value="Mua hàng" />
								</p>
							</form>
						</div>

					</c:if>
				</c:forEach>
			</c:forEach>

			<!--  -->

		</div>
	</div>
</div>