<div th:fragment="list_category">
<div class="wrap_background_aside asidecollection">
						<aside class="aside-item sidebar-category collection-category margin-bottom-20">
							<div class="aside-title">
								<h2 class="title-head margin-top-0 cate">
									<i class="fas fa-bars"></i><span>Danh mục sản phẩm</span>
								</h2>
							</div>
							<div class="aside-content">
								<nav class="nav-category navbar-toggleable-md">
									<ul class="nav navbar-pills">
										<li class="nav-item "><a href="aothun"
											class="nav-link a1">Áo Thun</a></li>
										<li class="nav-item "><a href="aophong"
											class="nav-link a1">Áo phông</a></li>
										<li class="nav-item "><a href="aosomi"
											class="nav-link a1">Áo sơ mi</a></li>
										<li class="nav-item "><a href="aococtay"
											class="nav-link a1">Áo cộc tay</a></li>
										<li class="nav-item "><a href="quanjean"
											class="nav-link a1">Quần Jean Nam</a></li>
										<li class="nav-item "><a class="nav-link"
											href="tatcasanpham">Tất cả sản phẩm</a></li>
								</ul>
								</nav>
							</div>
						</aside>
					</div>
</div>